.project {

    &-card {
        border-radius: 24px;
    }

    padding: 80px 0;
    position: relative;

    h2 {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }

    p {
        color: #b8b8b8;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 14px auto 30px auto;
        text-align: center;
        width: 80%;
    }

    .nav.nav-pills {
        width: max-content;
        margin: 0 auto;
        border-radius: 50px;
        background-color: rgb(255 255 255 / 10%);
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .nav-item {
        cursor: pointer;
    }

    .nav-link {
        background-color: transparent;
        border-radius: 0;
        padding: 12px;
        color: #fff;
        width: 100%;
        font-size: 17px;
        letter-spacing: 0.8px;
        font-weight: 500;
        position: relative;
        transition: 0.3s ease-in-out;
        text-align: center;
        z-index: 0;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            background: linear-gradient(to right, #aa367c -5.91%, #4a2fbd 111.58%);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            transition: 0.3s ease-in-out;
        }
    }

    .active {

        &::after,
        &::before {
            width: 100% !important;
        }
    }

    .nav-item {
        width: 100px;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);

        &:first-child {
            border-radius: 55px 0px 0px 55px;
        }

        &:last-child {
            border-right: none;
            border-radius: 0 55px 55px 0;
        }
    }
}

.proj-img-bx {
    height: 244px;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 24px;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .proj-tx-tx {
        position: absolute;
        text-align: center;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease-in-out;
        opacity: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h4 {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.8px;
            line-height: 1.1em;
        }

        a {
            color: #fff;
            font-style: italic;
            text-decoration: none;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.8px;
            transition: all 0.3s ease-in-out;
        }
    }

    &::before {
        content: '';
        background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
        opacity: 0.85;
        position: absolute;
        width: 100%;
        height: 0%;
        transition: 0.4s ease-in-out;
    }

    &:hover {
        &::before {
            height: 100%;
        }

        .proj-tx-tx {
            top: 50%;
            opacity: 1;
        }



    }
}

.btn-view {
    position: relative;
    margin-top: 8px;
    width: 120px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;

    &:after,
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0%;
        height: 100%;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }

    &:hover {
        border: 1px solid #000;


        &::after,
        &::before {
            width: 100%;
        }

        a {
            color: #000;
        }

        .project-card {
            border-radius: 18px;
        }
    }


}

.background-image-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
}