.left-btn,
.right-btn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: #00000080;
    opacity: 1;
    right: 2px;
    cursor: pointer;


    .icon {
        font-size: 20px;
        color: #fff;
        display: block;
        text-align: center;
        z-index: 2;
        position: relative;
    }
}

.right-btn {
    right: 4px;
}

.left-btn {
    left: 4px;
}