.contact {
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    padding: 60px 0 200px 0;

    img {
        width: 92%;
    }

    h2 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.form {
    input,
    textarea {
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        color: #fff;
        padding: 18px 26px;
        // margin-bottom: 12px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.8px;
        transition: 0.6s ease-in-out;

        // &:has(~ label) {
        //     margin: 0;
        // }

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }

        &:focus {
            background: rgba(255, 255, 255, 1);
            color: #121212;

            &::placeholder {
                color: #121212;
                opacity: 0.8;
            }
        }
    }

    textarea::-webkit-scrollbar {
        display: none;
    }

    .alert-error,
    .alert-success {
        display: inherit;
        height: 28px;
        margin-left: 12px;
        background: transparent;
        // overflow: hidden;
        animation: fadeInLeft 0.4s linear;
    }
    .alert-error::before {
        content: attr(data-invalid);
        color: #f44947;
    }
    .alert-success::before {
        content: attr(data-valid);
        color: #58b05e;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-45px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.contact {
    button {
        font-weight: 700;
        color: #000;
        background-color: #fff;
        padding: 14px 48px;
        font-size: 18px;
        margin: 8px 0 0 12px;
        border-radius: 0;
        position: relative;
        transition: 0.3s ease-in-out;

        span {
            z-index: 1;
            position: relative;
        }

        &::before {
            content: '';
            width: 0;
            background: #000;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.3s ease-in-out;
        }

        &:hover {
            color: #fff;

            &::before {
                width: 100%;
            }
        }
    }
}
